* {
    margin: 0;
    padding: 0;
    max-width: 600px;
}

body {
    background-color: wheat;
    color: black;
}

header {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}


p {
    margin: 20px
}

h1,h2,h3,h4,h5,h6 {
    color: blue;
    margin: 15px 10px;

}

a:link {
    color: blue;
}

a:visited {
    color:deeppink;
}

a:hover {
    color: deepskyblue;
}

#dale-profile {
    border-radius: 50%;
    border: solid;
    padding: 10px;
    margin: 0 auto;
    display: block;
}

a {
    font-size: 12px;
}

ol {
    color:darkslategrey;
    margin: 15px 30px;
}

ul {
    color:indigo;
    margin: 15px 30px;
}

img {
    margin: 25px;
    size: auto
}

.links {
    font-size: 12px;
}

.grid-container {
    display: grid;
    gap: 15px;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    background-color: darkcyan;
    padding: 10px;
    margin: 30px;
}

.grid-item {
    text-align: center;
    font-size: auto;
    background-color:lightblue;
    padding: 10px;
}

#grid-header{
    grid-column-start: 1;
    grid-column-end: 3;
    font-size: 30px;
}