footer {
  text-align: center;
  margin: 3em 0 1em;
}

footer a:link,
footer a:visited {
  color: var(--text-secondary);
  transition: 0.25s ease-out;
  &:hover {
    color: var(--text-primary);
  }
}