.headerTabContainer {
  display: flex;
  background-color: var(--background-secondary);
  overflow: auto;
}

.headerTitleContainer > h1 {
  padding: 0.5em;
}

.headerTitleContainer {
  background-color: var(--border);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerTitle:link,
.headerTitle:visited {
  color: var(--text-primary);
}

.activeTab,
.activeTab:link,
.activeTab:visited {
  color: var(--text-primary);
  background-color: var(--background);
  text-decoration: none;
  border-right: 2px solid var(--background);
}

.inactiveTab,
.inactiveTab:link,
.inactiveTab:visited {
  color: var(--text-secondary);
  background-color: var(--inactive-tab);
  text-decoration: none;
  border-right: 2px solid var(--background-secondary);
  transition: 0.25s color ease-out;
  &:hover {
    color: var(--text-primary);
  }
}

.activeTab,
.inactiveTab {
  padding: 0.7em clamp(1.5em, 5%, 3em);
  white-space: nowrap;
}

.headerURL {
  box-shadow: 0 0 5px var(--header-shadow);
  clip-path: inset(0 0 -5px 0);
  padding: 0.5em 1em;
  margin: 0;
}

.darkModeToggle.react-toggle .react-toggle-track{
  background-color: #efe4f3;
  &:hover {
    background-color: #d9cfdd;
  }
}
.darkModeToggle.react-toggle--checked .react-toggle-track{
  background-color: #007fe0;
  &:hover {
    background-color: #0063af;
  }
}

.react-toggle:hover:not(.react-toggle--disabled) .react-toggle-track {
  background-color: #d9cfdd;
}

.react-toggle--checked:hover:not(.react-toggle--disabled) .react-toggle-track {
  background-color: #0063af;
}

.darkModeToggle.react-toggle--checked .react-toggle-thumb {
  border-color: #4d4d4d;
}

.darkModeToggle {
  scale: 1.5;
  margin-right: 2em;
}

.react-toggle-track-x, .react-toggle-track-check {
  display: flex;
  align-items: center;
}

.react-toggle-track-x svg {
  scale: 1.3;
}
