.headerTabContainer {
  display: flex;
  background-color: #252526;
  overflow: auto;
}

header > h1 {
  background-color: #333333;
  padding: 0.5em;
}

.headerTitle:link, .headerTitle:visited {
  color: #fafaff;
}

.activeTab,
.activeTab:link,
.activeTab:visited {
  color: #fafaff;
  background-color: #1e1e1e;
  text-decoration: none;
  border-right: 2px solid #1e1e1e;
}

.inactiveTab,
.inactiveTab:link,
.inactiveTab:visited {
  color: #a9a9a9;
  background-color: #2d2d2d;
  text-decoration: none;
  border-right: 2px solid #252526;
  transition: 0.25s ease-out;
  &:hover {
    color: #fafaff;
  }
}

.activeTab,
.inactiveTab {
  padding: 0.7em clamp(1.5em, 5%, 3em);
  white-space: nowrap;
}

.headerURL {
  box-shadow: 0 0 5px black;
  clip-path: inset(0 0 -5px 0);
  padding: 0.5em 1em;
  margin: 0;
}
