.projectLinks {
  list-style: none;
  margin-left: 1em;
}

.projectImagesContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.projectImagesContainer img {
  max-width: 60vw;
  min-width: 15em;
  max-height: 30em;
  margin: 1em;
}
