.skillsHeader {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.skillCardGrid {
  --width: calc(clamp(4em, 10vw, 8em) + 3em + 10px);
  display: grid;
  grid-template-columns: var(--width) var(--width) var(--width) var(--width) var(--width);
  column-gap: 0.5rem;
}

@media only screen and (max-width: 850px) {
  .skillsHeader {
    display: block;
  }
}

@media only screen and (max-width: 750px) {
  .skillCardGrid {
    grid-template-columns: var(--width) var(--width) var(--width) var(--width);
  }
}

@media only screen and (max-width: 600px) {
  .skillCardGrid {
    grid-template-columns: var(--width) var(--width) var(--width); 
  }
}

@media only screen and (max-width: 430px) {
  .skillCardGrid {
    grid-template-columns: var(--width) var(--width);
  }
}