.skillCard {
  display: flex;
  margin: 1em 0.5em;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 5px solid var(--border);
  padding-bottom: 1em;
  border-radius: 20px 20px;
  background-color: var(--background-secondary);
  transition: 0.25s border-color ease-out;
  &:hover {
    border-color: #0078d4;
  }
}

.skillCardImg {
  width: clamp(6em, 20vw, 12em);
  object-fit: contain;
  border-radius: 5%;
  margin: 1em;
}

.skillCard:link,
.skillCard:visited {
  color: var(--text-primary);
}

.skillCardLoading {
  width: clamp(6em, 20vw, 12em);
  height: clamp(6em, 20vw, 12em);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em;
}

.skillCardLoaded {
  display: none;
}

.skillCard > p {
  margin: 0;
}
