main {
  width: 90%;
  margin: auto;
  max-width: 1200px;
}

h1, h2 {
  padding: 1em 0 0.5em;
}

a, a:link, a:visited {
  text-decoration: none;
  color: #47AFFF
}

* {
  line-height: 1.7;
}

p {
  margin: 1em 0;
}